name: Auto Build PocketBase Docker Image

on:
  schedule:
    - cron: "0 3 * * *"   # Check every day 3:00 AM
  workflow_dispatch:

jobs:
  check_latest:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
      should_build: ${{ steps.check_existing.outputs.should_build }}

    steps:
      - name: Get latest PocketBase release version
        id: get_version
        run: |
          LATEST=$(curl -s https://api.github.com/repos/pocketbase/pocketbase/releases/latest | jq -r .tag_name)
          echo "version=$LATEST" >> $GITHUB_OUTPUT

      - name: Check if Docker tag already exists
        id: check_existing
        run: |
          TAG=${{ steps.get_version.outputs.version }}
          RESULT=$(curl -s https://hub.docker.com/v2/repositories/${{ secrets.DOCKER_USERNAME }}/pocketbase/tags/$TAG)

          if echo "$RESULT" | grep -q '"name"'; then
            echo "should_build=false" >> $GITHUB_OUTPUT
          else
            echo "should_build=true" >> $GITHUB_OUTPUT
          fi

  build_and_push:
    needs: check_latest
    if: needs.check_latest.outputs.should_build == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          VERSION=${{ needs.check_latest.outputs.version }}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/pocketbase:$VERSION .

      - name: Tag Docker image with latest
        run: |
          VERSION=${{ needs.check_latest.outputs.version }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/pocketbase:$VERSION ${{ secrets.DOCKER_USERNAME }}/pocketbase:latest

      - name: Test Docker image
        run: |
          VERSION=${{ needs.check_latest.outputs.version }}
          docker run -itd --rm --name pbtest -p 127.0.0.1:8910:8080 ${{ secrets.DOCKER_USERNAME }}/pocketbase:$VERSION
          sh pb-test.sh

      - name: Push Docker images
        run: |
          VERSION=${{ needs.check_latest.outputs.version }}
          docker push ${{ secrets.DOCKER_USERNAME }}/pocketbase:$VERSION
          docker push ${{ secrets.DOCKER_USERNAME }}/pocketbase:latest
