name: CI for Docker

on:
  workflow_dispatch:
    inputs:
      IMAGE_VERSION:
        description: "Version for the Docker image"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/pocketbase:${{ github.event.inputs.IMAGE_VERSION }} .

      - name: Tag Docker image with latest tag
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/pocketbase:${{ github.event.inputs.IMAGE_VERSION }} ${{ secrets.DOCKER_USERNAME }}/pocketbase:latest

      - name: Test Docker image
        run: |
          docker run -itd --rm --name pocketbase -p 127.0.0.1:8910:8080 ${{ secrets.DOCKER_USERNAME }}/pocketbase:${{ github.event.inputs.IMAGE_VERSION }}
          sh pb-test.sh

      # - name: Push Docker images
      #   run: |
      #     docker push ${{ secrets.DOCKER_USERNAME }}/pocketbase:${{ github.event.inputs.IMAGE_VERSION }}
      #     docker push ${{ secrets.DOCKER_USERNAME }}/pocketbase:latest
